*.mov filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.JPG filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text

# Exclude public folder from LFS - these need to deploy directly as regular binary files
portfolio-app/public/assets/about/*.jpg -filter -diff -merge binary
portfolio-app/public/assets/about/*.JPG -filter -diff -merge binary
