# Flutter & Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.idea/
.vscode/
*.iml
*.lock
*.log
*.tmp
*.swp
*.DS_Store

# iOS
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/engine/
ios/Flutter/flutter_export_environment.sh
ios/Flutter/ephemeral/
ios/Flutter/.last_build_id

# Hive
*.hive
*.hive.lock

# Misc
*.csv
